body{
    background-color: brown;
}    
main {
    align-content: center;
    color: cornsilk;
}

.title, .buttons, .new-button{
    text-align: center;
    margin-bottom: 10px;
}

button,
input[type="submit"],
button,
input[type="Reset"],
button,
input[type="button"] {
  border: solid white;
  background-color: purple;
  color: white;
  padding: 10px 40px 10px 40px;
  margin-top: 10px;
  transition: .3s;
  
}


select{
    background-color: purple;
    color: white;
    padding: 10px 40px 10px 40px;
    border: solid white;
}



li{
  text-align: center;
  padding: 10px;
  list-style: none;
  border: solid 5px yellow;
  border-radius: 25px;
  margin: auto;
  width: 70%;
  margin-top: 10px;
  background-color: indigo;
  font-size: 32px;
}

li a{
  color: white;
}

li a:hover{
  color: teal;
}

form{
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

input{
  margin-bottom: 10px;
}

textarea{
  width: 50%;
}

.error-area {
  text-align: center;
  color: white;
  padding: 5px;
  font-family: 'roboto', sans-serif;
}

  @media all and (min-width: 930px) {
    .content{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
    }

    /* .container{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    } */
}